<div class="slide" id="component-transcript-end">
  <div class="slide__inner shadow padding--15 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<h2 class="text-center margin--top--15 margin--bottom--25">Cool, we're done. It's just that easy.</h2>
	<p class="text-center margin--bottom--25">if at anytime this needs to be updated you can come back here. <br />if so, transcripts and/or certifications need to be submitted before the first of the month prior to your expected start date.</p>

	<div class="slide__inner__center d-flex justify-content-center">
	  <div class="tada">
		<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 24 24">
		  <path d="M0 0h24v24H0z" fill="none"/>
		  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#558d44" />
		</svg>
	  </div>
	</div>

	<div class="text-center margin--top--25">
	  <button class="button padding--10 shadow" onclick="nextSlide('overview');">Back to Hub</button>
	</div>
  </div>
  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('transcript-question-certifications')">Back</a>
	</div>
	<div class="ml-sm-auto">

	</div>
  </div>
</div><!-- end component-transcript-end-->