<div class="slide" id="component-program-end">
  <div class="slide__inner shadow padding--15 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<h2 class="text-center margin--top--15 margin--bottom--25">Cool, Your request has been sent.</h2>
	<div class="slide__inner__center d-flex flex-column">
	  <p class="text-center margin--bottom--25">

	  </p>
	  <div class="tada d-flex justify-content-center">
		<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 24 24">
		  <path d="M0 0h24v24H0z" fill="none"/>
		  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#558d44" />
		</svg>
	  </div>

	  <div class="text-center margin--top--25 d-flex flex-column flex-sm-row justify-content-center">
		<div class="margin--bottom--15">
		  <button class="button padding--10 shadow" onclick="nextSlide('overview');">Back to Hub</button>
		</div>
	  </div>
	</div>
  </div>
  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('program-change')">Back</a>
	</div>
	<div class="ml-sm-auto">

	</div>
  </div>
</div><!-- end component-transcript-end-->