<div class="slide" id="component-file-hub-upload">
  <div class="slide__inner shadow padding--25 padding--bottom--60 margin--bottom--15 align-content-stretch flex-wrap">
	<div class="d-flex justify-content-start align-items-center">
	  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
		<path d="M0 0h24v24H0z" fill="none"/>
		<path fill="#fb8c00" d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z"/>
	  </svg>
	  <h2 class="text-left margin--top--25 margin--bottom--15 margin--left--15">Upload your files</h2>
	</div>

	<div class="padding--15 padding--bottom--35 d-flex flex-column justify-content-center align-items-center" style="border: 1px dashed #000; border-radius: 5px; min-height: 200px;">
	  <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 24 24">
		<path d="M0 0h24v24H0z" fill="none"/>
		<path fill="#6eaac2" d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"/>
	  </svg>
	  <h5>drag and drop files here</h5>
	  <h5>or</h5>
	  <button class="button padding--10 padding--left--25 padding--right--25 margin--top--5">Browse Files</button>
	</div>
  </div>

  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('file-hub')">Back to Files</a>
	</div>
	<div class="ml-sm-auto">
	  <!--<button class="button padding&#45;&#45;10 padding&#45;&#45;left&#45;&#45;25 padding&#45;&#45;right&#45;&#45;25 shadow" onclick="nextSlide('file-hub');">Back to Files</button>-->
	</div>
  </div>
</div>