<div class="slide" id="component-transcript-addition">
  <div class="slide__inner shadow padding--15 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<h2 class="text-left margin--top--15 margin--bottom--0">Add your transcript</h2>
	<div class="d-flex flex-column justify-content-md-center">
	  <!--<div class="margin&#45;&#45;top&#45;&#45;15 margin&#45;&#45;bottom&#45;&#45;15">-->
		<!--<input type="text" placeholder="Institution Name" class="form-control"/>-->
	  <!--</div>-->
	  <div class="margin--top--15 margin--bottom--15 d-flex flex-column flex-md-row align-items-center">
		<div class="table-responsive">
		  <table class="table table-borderless margin--bottom--5">
			<tbody>
			<tr>
			  <td colspan="1">
				Institution Name
			  </td>
			  <td colspan="3">
				<input type="text" placeholder="" class="form-control"/>
			  </td>
			</tr>
			<tr>
			  <td width="15%">Attendance Dates:</td>
			  <td>
				<div class="d-flex flex-column flex-sm-row">
				  <select name="startmonth" class="form-control form-control-sm margin--right--10">
					<option value="" class="" selected="selected">Month</option>
					<option value="0">January</option>
					<option value="1">February</option>
					<option value="2">March</option>
					<option value="3">April</option>
					<option value="4">May</option>
					<option value="5">June</option>
					<option value="6">July</option>
					<option value="7">August</option>
					<option value="8">September</option>
					<option value="9">October</option>
					<option value="10">November</option>
					<option value="11">December</option>
				  </select>
				  <select name="startYear" class="form-control form-control-sm margin--right--0">
				  <option value="" class="" selected="selected">Year</option>
				  <option value="0">2019</option>
				  <option value="1">2018</option>
				  <option value="2">2017</option>
				  <option value="3">2016</option>
				  <option value="4">2015</option>
				  <option value="5">2014</option>
				  <option value="6">2013</option>
				  <option value="7">2012</option>
				  <option value="8">2011</option>
				</select>
				</div>
			  </td>
			  <td width="5%">To</td>
			  <td>
				<div class="d-flex flex-column flex-sm-row">
				  <select name="startmonth" class="form-control form-control-sm margin--right--10">
					<option value="" class="" selected="selected">Month</option>
					<option value="0">January</option>
					<option value="1">February</option>
					<option value="2">March</option>
					<option value="3">April</option>
					<option value="4">May</option>
					<option value="5">June</option>
					<option value="6">July</option>
					<option value="7">August</option>
					<option value="8">September</option>
					<option value="9">October</option>
					<option value="10">November</option>
					<option value="11">December</option>
				  </select>
				  <select name="startYear" class="form-control form-control-sm margin--right--0">
					<option value="" class="" selected="selected">Year</option>
					<option value="0">2019</option>
					<option value="1">2018</option>
					<option value="2">2017</option>
					<option value="3">2016</option>
					<option value="4">2015</option>
					<option value="5">2014</option>
					<option value="6">2013</option>
					<option value="7">2012</option>
					<option value="8">2011</option>
				  </select>
				</div>
			  </td>
			</tr>
			<tr>
			  <td colspan="1">Degrees Earned</td>
			  <td colspan="3">
				<select name="degree" class="form-control form-control-sm">
				  <option value="" class=""></option>
				  <option value="0" selected="selected">No Degree Earned</option>
				  <option value="1">Associate of Applied Arts</option>
				  <option value="2">Associate of Applied Science</option>
				  <option value="3">Associate of Arts</option>
				  <option value="4">Associate of Science</option>
				  <option value="5">Associate – Other</option>
				  <option value="6">Bachelor's</option>
				  <option value="7">Master's</option>
				  <option value="8">Doctorate</option>
				  <option value="9">Other</option>
				</select>
			  </td>
			</tr>
			<tr>
			  <td colspan="1">
				Major
			  </td>
			  <td colspan="3">
				<input type="text" placeholder="" class="form-control"/>
			  </td>
			</tr>
			</tbody>
		  </table>
		</div>
	  </div>

	  <!--<p>to</p>-->
	  <!--month and year-->
	  <!--<div class="margin&#45;&#45;top&#45;&#45;15 margin&#45;&#45;bottom&#45;&#45;15">-->
		<!--<input type="text" placeholder="Major" class="form-control"/>-->
	  <!--</div>-->

	  <!--<div class="d-flex justify-content-end margin&#45;&#45;right&#45;&#45;15&#45;&#45;sm&#45;&#45;up">-->
		<!--<button class="button padding&#45;&#45;10 padding&#45;&#45;left&#45;&#45;25 padding&#45;&#45;right&#45;&#45;25 shadow save" id="btn-save-transcript-question-transcripts" name="btn-continue-transcript-addition">Save</button>-->
	  <!--</div>-->
	</div>
  </div>
  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('transcript-question-transcript')">Back</a>
	</div>
	<div class="ml-sm-auto">
	  <button class="button padding--10 padding--left--25 padding--right--25 shadow continue-addition" onclick="nextSlide('transcript-question-certifications');" id="btn-continue-transcript-addition">Save &amp; Continue</button>
	</div>
  </div>
</div>