<div class="slide" id="component-start-date-change">
  <div class="slide__inner shadow padding--25 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<h2 class="margin--bottom--25 margin--top--10 margin--top--25--sm--up">Request Change to Start Date</h2>
	<p class="margin--bottom--25">Clicking "Save" will notify your enrollment counselor of your desire to change your start date. He or she will then contact you to confirm your choice.</p>

	<div class="margin--top--15 table-responsive">
	  <table class="table table-borderless">
		<tbody>
		<tr>
		  <td width="10%">
			<label>Start Date</label>
		  </td>
		  <td>
			<select class="form-control form-control-sm" onchange="changeStartDate(this)">
			  <option value="" class="">--</option>
			  <option value="AUG-2019">August 1, 2019</option>
			  <option value="SEP-2019">September 1, 2019</option>
			  <option value="OCT-2019">October 1, 2019</option>
			  <option value="NOV-2019">November 1, 2019</option>
			  <option value="DEC-2019">December 1, 2019</option>
			  <option value="JAN-2020">January 1, 2020</option>
			  <option value="FEB-2020">February 1, 2020</option>
			  <option value="MAR-2020">March 1, 2020</option>
			  <option value="APR-2020">April 1, 2020</option>
			  <option value="MAY-2020">May 1, 2020</option>
			  <option value="JUN-2020">June 1, 2020</option>
			  <option value="JUL-2020">July 1, 2020</option>
			</select>
		  </td>
		</tr>
		</tbody>
	  </table>
	</div>
  </div>

  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('start-date-overview')">Back</a>
	</div>
	<div class="ml-sm-auto">
	  <button class="button padding--10 padding--left--25 padding--right--25 shadow" onclick="nextSlide('start-date-end')">Save</button>
	</div>
  </div>
</div>