<div class="slide" id="component-file-hub">
  <div class="slide__inner shadow padding--25 padding--bottom--70 margin--bottom--15 align-content-stretch flex-wrap">
	<div class="d-flex flex-column flex-md-row justify-content-center align-items-center overview__header">
	  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" class="delete-icon">
		<path d="M0 0h24v24H0z" fill="none"/>
		<path fill="#fb8c00" d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z"/>
	  </svg>
	  <h2 class="text-center margin--bottom--25 margin--top--10 margin--top--25--sm--up margin--left--15--sm--up">File Hub</h2>
	</div>
	<p class="text-center margin--bottom--25">The following is a list of documents we have received from you.</p>
	<div class="table-responsive">
	  <table class="table table-bordered">
		<thead>
		<tr>
		  <th scope="col" class="text-left">Title</th>
		  <th scope="col" class="text-left">Category</th>
		  <th scope="col" class="text-left">Date Uploaded</th>
		  <th scope="col" class="text-left"></th>
		</tr>
		</thead>
		<tbody>
		<tr>
		  <td>BSIT - Resource Fee</td>
		  <td>Letter of Credit</td>
		  <td>May 25, 2016</td>
		  <td class="text-center">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="delete-icon">
			  <path fill="#be1e2d" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
			  <path d="M0 0h24v24H0z" fill="none"/>
			</svg>
		  </td>
		</tr>
		<tr>
		  <td>BS IT Program Tuition</td>
		  <td>Resume</td>
		  <td>May 25, 2016</td>
		  <td class="text-center">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="delete-icon">
			  <path fill="#be1e2d" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
			  <path d="M0 0h24v24H0z" fill="none"/>
			</svg>
		  </td>
		</tr>
		<tr>
		  <td>BSIT Program Fee</td>
		  <td>Pay Stub</td>
		  <td>May 25, 2016</td>
		  <td class="text-center">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="delete-icon">
			  <path fill="#be1e2d" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
			  <path d="M0 0h24v24H0z" fill="none"/>
			</svg>
		  </td>
		</tr>
		</tbody>
	  </table>
	</div>
  </div>

  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('overview')">Back</a>
	</div>
	<div class="ml-sm-auto">
	  <button class="button padding--10 padding--left--25 padding--right--25 shadow" onclick="nextSlide('file-hub-upload');">Continue</button>
	</div>
  </div>
</div>