<div class="slide" id="component-financial-aid-set-payments">
  <div class="slide__inner shadow padding--25 padding--bottom--20 margin--bottom--15 align-content-stretch flex-wrap">
	<div class="d-flex align-items-center">
	  <h2 class="text-left margin--top--25 margin--bottom--15">How Can I Pay?</h2>
	</div>
	<div class="table-responsive margin--bottom--15">
	  <table class="table table-borderless">
		<tbody id="set-payments-table">
		  <tr>
			<td width="13%">payment option</td>
			<td>
			  <select class="form-control form-control-sm" onchange="setPaymentMethod(this.value)">
				<option value="3P - Third Party">Third Party</option>
				<option value="FA - Financial Aid">Financial Aid</option>
				<option value="SP - Self Pay">Self Pay</option>
				<option value="MTA - Military Tuition Assistance">Military Tuition Assistance</option>
				<option value="VA - Veterans Assistance">Veterans Assistance</option>
				<option value="MVR - Military Vocational Rehab">Military Vocational Rehab</option>
				<option value="WIA - Workforce Investment Act">Workforce Investment Act</option>
				<option value="TAA - Trade Adjustment Act">Trade Adjustment Act</option>
				<option value="Other">Other</option>
				<option value="None">None</option>
			  </select>
			</td>
		  </tr>
		</tbody>
	  </table>
	  <div class="d-sm-flex justify-content-sm-end">
		<div class="margin--bottom--15">
	  	<a class="padding--5 margin--right--15--sm--up d-flex align-items-center" onclick="removePayment()">
		  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path d="M19 13H5v-2h14v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		  <p class="margin--left--5">remove method</p>
		</a>
		</div>
		<div>
	  	<a class="padding--5 margin--right--15--sm--up d-flex align-items-center" onclick="addPayment()">
		  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		  <p class="margin--left--5">add method</p>
		</a>
		</div>
	  </div>
	</div>
  </div>

  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('financial-aid-payments')">Back</a>
	</div>
	<div class="ml-sm-auto">
	  <button class="button padding--10 padding--left--25 padding--right--25 shadow" onclick="nextSlide('financial-aid-end');">Save &amp; Continue</button>
	</div>
  </div>
</div>