<div class="slide" id="component-transcript-overview">
  <div class="slide__inner shadow padding--25 padding--bottom--20 margin--bottom--15 align-content-stretch flex-wrap">
	<div class="d-flex flex-column flex-md-row justify-content-center align-items-center overview__header">
	  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<path fill="#4486a1" d="M2 12.5C2 9.46 4.46 7 7.5 7H18c2.21 0 4 1.79 4 4s-1.79 4-4 4H9.5C8.12 15 7 13.88 7 12.5S8.12 10 9.5 10H17v2H9.41c-.55 0-.55 1 0 1H18c1.1 0 2-.9 2-2s-.9-2-2-2H7.5C5.57 9 4 10.57 4 12.5S5.57 16 7.5 16H17v2H7.5C4.46 18 2 15.54 2 12.5z"/>
		<path fill="none" d="M0 0h24v24H0V0z"/>
	  </svg>
	  <h2 class="text-center margin--bottom--25 margin--top--10 margin--top--25--sm--up margin--left--15--sm--up">Transcripts Overview</h2>
	</div>
	<p class="text-center margin--bottom--25">This page will show you the transcripts you have submitted and the status of them.</p>
	<table class="table table-bordered">
	  <thead>
	  <tr>
		<th scope="col" class="text-left" width="90%">Institution</th>
		<th scope="col" class="text-right">Status</th>
	  </tr>
	  </thead>
	  <tbody>
	  <tr>
		<td>Transcript 1 submission</td>
		<td>
		  <div class="d-flex align-items-center justify-content-end">
			<p class="small padding--right--5">Pending</p>
			<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
			  <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
			  <path d="M0 0h24v24H0z" fill="none"/>
			  <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
			</svg>
		  </div>
		</td>
	  </tr>
	  <tr>
		<td>Transcript 2 submission</td>
		<td>
		  <div class="d-flex align-items-center justify-content-end">
			<p class="small padding--right--5">Accepted</p>
			<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">
			  <path d="M0 0h24v24H0z" fill="none"/>
			  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#558d44" />
			</svg>
		  </div>
		</td>
	  </tr>
	  </tbody>
	</table>

	<div class="d-flex justify-content-sm-end margin--top--20">
	  <p>Click continue to get the process started.</p>
	</div>
  </div>

  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('overview')">Back</a>
	</div>
	<div class="ml-sm-auto">
	  <button class="button padding--10 padding--left--25 padding--right--25 shadow" onclick="nextSlide('transcript-question-transcript');">Continue</button>
	</div>
  </div>
</div>