<div class="slide" id="component-transcript-question-certifications">
  <div class="slide__inner shadow padding--15 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<h2 class="text-center margin--top--15 margin--bottom--25">Do you have a certification to add?</h2>
	<div class="slide__inner__center d-flex flex-column justify-content-md-center">
	  <div class="radio margin--bottom--15">
		<input id="radio-1-question" name="btn-continue-transcript-question-certification" type="radio" value="Yes">
		<label for="radio-1-question" class="radio-label">
		  <h5 class="d-inline-flex">Yes</h5>
		</label>
	  </div>
	  <div class="radio margin--bottom--15">
		<input id="radio-2-question" name="btn-continue-transcript-question-certification" type="radio" value="No">
		<label  for="radio-2-question" class="radio-label">
		  <h5 class="d-inline-flex">I don't have <br class="d-block d-sm-none" /> any certifications <br class="d-block d-sm-none" />to submit</h5>
		</label>
	  </div>
	</div>
	<div class="text-center">
	  <h5 class="d-none" id="slide-23-answer">
		<!-- answer will go here -->
	  </h5>
	</div>
  </div>
  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('transcript-question-transcript')">Back</a>
	</div>
	<div class="ml-sm-auto">
	  <button class="button padding--10 padding--left--25 padding--right--25 shadow" id="btn-continue-transcript-question-certification" disabled>Continue</button>
	</div>
  </div>
</div><!-- end component-transcript-certifications -->