<style>
  .header {
	background: var(--header-bg-color, #003058);
	position: absolute;
	top: 0;
	z-index: 100;
	width: 100%;
  }
</style>

<div class="header padding--top--10 padding--bottom--10 d-flex justify-content-between flex-row align-items-center">
  <div class="margin--left--15" style="width: 150px;">
	<svg class="header-logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		 x="0px" y="0px"
		 viewBox="0 0 452.3 100" enable-background="new 0 0 452.3 100" xml:space="preserve">
		<g>
			<path d="M350.9,60c-6.4,0-11.6-5.2-11.6-11.6s5.2-11.6,11.6-11.6c1.8,0,3.4,0.4,4.9,1.1c-0.8-0.3-1.6-0.4-2.5-0.4
				c-4.5,0-8.2,3.7-8.2,8.2s3.7,8.2,8.2,8.2c4.5,0,8.2-3.7,8.2-8.2c0-1.1-0.2-2.2-0.6-3.1c1,1.7,1.6,3.7,1.6,5.9
				C362.5,54.8,357.3,60,350.9,60 M418.6,45.7c0-0.6-0.1-1.2-0.2-1.7c0.6,1.4,0.9,2.9,0.9,4.4c0,6.4-5.2,11.6-11.6,11.6
				c-6.4,0-11.6-5.2-11.6-11.6s5.2-11.6,11.6-11.6c1.5,0,3,0.3,4.3,0.8c-0.5-0.1-1.1-0.2-1.6-0.2c-4.5,0-8.2,3.7-8.2,8.2
				s3.7,8.2,8.2,8.2C414.9,53.9,418.6,50.2,418.6,45.7 M435.6,25.8l-7.3,6c0,0,0,0,0,0c3.8,4.6,5.9,10.5,5.9,16.5
				c0,14.4-11.7,26-26,26c-6.7,0-13.1-2.6-17.9-7.1V56.6c3.1,6.4,9.6,10.9,17.3,10.9c10.6,0,19.1-8.6,19.1-19.1
				c0-7.8-4.7-14.5-11.4-17.5c0.1,0,0.2-0.1,0.3-0.1h0c3.9-1.9,6.3-3.6,6.3-3.6l30.4-25c-7.2-2.1-16.9-2.9-25.6-1.7
				c-11.5,1.6-21.3,5.8-21.3,5.8c-9.3-3.9-15-5.1-26.3-5.2c-11.4,0.1-17.1,1.3-26.3,5.2c0,0-9.8-4.2-21.3-5.8
				c-8.7-1.2-18.4-0.4-25.6,1.7l30.4,25c0,0,2.4,1.7,6.3,3.6c0.1,0.1,0.3,0.1,0.4,0.2c-6.6,3-11.2,9.7-11.2,17.4
				c0,10.6,8.6,19.1,19.1,19.1c7.2,0,13.6-4,16.8-10V41.9v-2.6c0,0,0,0,0,0.1c0-0.1,0-0.2,0-0.3c0,0,0,0,0-0.1c0-3.2,2.6-5.7,5.7-5.7
				c3.2,0,5.7,2.6,5.7,5.7c0,0,0,0,0,0.1h0v4.4v40l-11.1-10.9l-2.2-2.2c-3.6,3.5-7.8,4.2-14.4,4.2c-14.4,0-26-11.7-26-26
				c0-7,1.3-11.5,5.1-15.8l-7.2-6c-5,5.9-7.3,12.7-7.3,21.8c0,19.6,15.9,35.5,35.5,35.5c3,0,6.2-0.1,9.3-0.8
				c4.7,4.3,18.9,16.9,18.9,16.9l19.3-17.4c3,0.8,6.1,1.3,9.2,1.3c19.6,0,35.5-15.9,35.5-35.5C443.8,40.2,440.9,32.2,435.6,25.8
				C435.7,25.8,435.7,25.8,435.6,25.8"/>
		  <path d="M8.6,17.4c-0.4-1.6-2.3-3-3.9-3H0V1.2h40.8v13.1h-8.7l10.5,46.4h0.2L57.5,1.2h17.3l14.5,59.6h0.2l9.1-37.5
				c1.5-6,0.6-8.9-4.5-8.9h-3.5V1.2h36v13.1H123c-1.9,0-4.1,1.6-4.8,3.8L100,88.8H75.5l-12.3-50H63l-12.3,50H26.2L8.6,17.4z"/>
		  <path d="M122.6,45.5c0-29.2,16.5-45.4,43.5-45.4c6.4,0,11.5,0.6,14.3,1.1h16.8V30h-15.5l-2.4-12.8
				c-2.4-0.9-6.1-1.6-10.6-1.6c-12.1,0-20.8,8.1-20.8,28.9c0,19.9,5.9,30.5,18.5,30.5c4.4,0,6.8-0.4,9.3-1.1V58.6h-7.5V45.8h36.5v12.9
				h-2.5c-1.8,0-3.5,2.3-3.5,3.8v26.4h-12.1c0,0-1.1-2.6-3.5-2.6c-4.5,2.3-10.5,3.8-18.1,3.8C137.4,90,122.6,74.3,122.6,45.5"/>
		  <path d="M212.4,56V18c0-1.5-1.8-3.6-3.5-3.6h-4.1V1.2h40.9v13.1h-9.4v43c0,13.3,5.4,17.4,15.3,17.4
				c10,0,15.4-4.1,15.4-17.4v-43h-9.3V1.2h34.5v13.1h-4c-1.6,0-3.5,2.1-3.5,3.6v38c0,22.1-11.4,33.8-35.8,33.8
				C224.9,89.8,212.4,78.2,212.4,56"/>
		</g>
	  </svg>
  </div>
  <div class="margin--right--15" onclick="window.showSideNav();">
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
	  <path d="M0 0h24v24H0z" fill="none"/>
	  <path fill="white" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
	</svg>
  </div>
</div>