<div class="slide" id="component-program-change">
  <div class="slide__inner shadow padding--25 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<h2 class="margin--bottom--25 margin--top--10 margin--top--25--sm--up">Request Change to Program</h2>
	<p class="margin--bottom--25">Clicking "Save" will notify your enrollment counselor of your desire to change your start date. He or she will then contact you to confirm your choice.</p>

	<div class="margin--top--15 table-responsive">
	  <table class="table table-borderless">
		<tbody id="program-table">
		  <tr>
			<td width="8%">
			  <label>Program</label>
			</td>
			<td>
			  <select class="form-control form-control-sm">
				<option value="" class="">--</option>
				<option value="Bachelor of Science, Accounting">Bachelor of Science, Accounting</option>
				<option value="Bachelor of Science, Business - Healthcare Management">Bachelor of Science, Business - Healthcare Management</option>
			  </select>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
  </div>

  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('program-overview')">Back</a>
	</div>
	<div class="ml-sm-auto">
	  <button class="button padding--10 padding--left--25 padding--right--25 shadow" onclick="nextSlide('program-end')">Save</button>
	</div>
  </div>
</div>