<div class="slide" id="component-start-date-overview">
  <div class="slide__inner shadow padding--25 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<div class="d-flex flex-column flex-md-row align-items-center overview__header">
	  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<path fill="#0066a2" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/>
		<path fill="none" d="M0 0h24v24H0z"/>
	  </svg>
	  <h2 class="margin--bottom--25 margin--top--10 margin--top--25--sm--up margin--left--15--sm--up">Your
		Anticipated Start Date</h2>
	</div>
	<p class="margin--left--60--sm--up" id="start-date-placeholder">You have not selected a start date.</p>
  </div>
  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('overview')">Back</a>
	</div>
	<div class="ml-sm-auto">
	  <button class="button padding--10 padding--left--25 padding--right--25 shadow"
			  onclick="nextSlide('start-date-change');">Change the Start Date
	  </button>
	</div>
  </div>
</div>