<div class="slide" id="component-financial-aid-overview">
  <div class="slide__inner shadow padding--15 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<div class="d-flex flex-column flex-md-row justify-content-center align-items-center overview__header">
	  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<path fill="#558d44" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1.41 16.09V20h-2.67v-1.93c-1.71-.36-3.16-1.46-3.27-3.4h1.96c.1 1.05.82 1.87 2.65 1.87 1.96 0 2.4-.98 2.4-1.59 0-.83-.44-1.61-2.67-2.14-2.48-.6-4.18-1.62-4.18-3.67 0-1.72 1.39-2.84 3.11-3.21V4h2.67v1.95c1.86.45 2.79 1.86 2.85 3.39H14.3c-.05-1.11-.64-1.87-2.22-1.87-1.5 0-2.4.68-2.4 1.64 0 .84.65 1.39 2.67 1.91s4.18 1.39 4.18 3.91c-.01 1.83-1.38 2.83-3.12 3.16z"/>
		<path fill="none" d="M0 0h24v24H0z"/>
	  </svg>
	  <h2 class="text-center margin--bottom--25 margin--top--10 margin--top--25--sm--up margin--left--15--sm--up">Fulfill Financial Requirements</h2>
	</div>


	<p class="padding--bottom--15">Please schedule payment on the 22nd of the month prior to your start date for the amount due listed below. Payment plans are available if you do not plan to pay in full by the first day of the term. Payment plans require an additional fee.</p>
	<p class="padding--bottom--15">There are many options available if you decide to pursue assistance to pay for school. Take time to investigate <a href="">Scholarships</a>, Financial Aid, VA & Military Benefits, Corporate Reimbursement, and payment plans for our self-pay option.</p>


	<h3 class="padding--top--10 padding--bottom--10">Tuition &amp; Fees</h3>
	<table class="table table-bordered">
	  <thead>
	  <tr>
		<th scope="col" class="text-left" width="90%">Tuition Summary</th>
		<th scope="col" class="text-right"></th>
	  </tr>
	  </thead>
	  <tbody>
	  <tr>
		<td>BSIT - Resource Fee</td>
		<td>$145.00</td>
	  </tr>
	  <tr>
		<td>BS IT Program Tuition</td>
		<td>$3,225.00</td>
	  </tr>
	  <tr>
		<td>BSIT Program Fee</td>
		<td>$150.00</td>
	  </tr>
	  </tbody>
	  <tfoot>
	  	<tr>
		  <td><b>Total</b></td>
		  <td><b>$3,520.00</b></td>
		</tr>
	  </tfoot>
	</table>
  </div>
  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('overview')">Back</a>
	</div>
	<div class="ml-sm-auto">
	  <button class="button padding--10 shadow" onclick="nextSlide('financial-aid-payments');">Continue</button>
	</div>
  </div>
</div><!-- end component-financial-aid -->