<div class="slide" id="component-program-overview">
  <div class="slide__inner shadow padding--25 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<div class="d-flex flex-column flex-md-row align-items-center overview__header">
	  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<path d="M0 0h24v24H0z" fill="none"/>
		<path fill="#6e2973" d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z"/>
	  </svg>
	  <h2 class="margin--bottom--25 margin--top--10 margin--top--25--sm--up margin--left--15--sm--up">Your Program</h2>
	</div>
	<p class="margin--left--60--sm--up" id="program-placeholder">No Program Selected.</p>
  </div>
  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('overview')">Back</a>
	</div>
	<div class="ml-sm-auto">
	  <button class="button padding--10 padding--left--25 padding--right--25 shadow" onclick="nextSlide('program-change');">Change your Program</button>
	</div>
  </div>
</div>