<div class="slide" id="component-readiness-assessment-overview">
  <div class="slide__inner shadow padding--25 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<div class="d-flex flex-column flex-md-row justify-content-center align-items-center overview__header">
	  <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 24 24">
		<path d="M0 0h24v24H0z" fill="none"/>
		<path fill="#ffcc5b" d="M22 5.72l-4.6-3.86-1.29 1.53 4.6 3.86L22 5.72zM7.88 3.39L6.6 1.86 2 5.71l1.29 1.53 4.59-3.85zM12.5 8H11v6l4.75 2.85.75-1.23-4-2.37V8zM12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9c4.97 0 9-4.03 9-9s-4.03-9-9-9zm0 16c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
	  </svg>
	  <h2 class="text-center margin--bottom--25 margin--top--10 margin--top--25--sm--up margin--left--15--sm--up">Take The Readiness Assessment</h2>
	</div>
	<div class="">
	  <p class="margin--bottom--25">The WGU Readiness Assessment is designed to determine your readiness for college-level study in an online environment.</p>

	  <p class="margin--bottom--25">Your successful completion of all parts of the Readiness Assessment and the Admissions Essay are required to be considered for admission to WGU. Other admissions criteria that may be evaluated by WGU in reaching an admissions decision include prior education and work experience.</p>

	  <p class="margin--bottom--25">Please allow two hours from the time each part of the Readiness Assessment is submitted for the status to change from "Begin", to "Started”, to “Complete”.</p>
	</div>
	<table class="table table-bordered">
	  <thead>
	  <tr>
		<th scope="col" class="text-left" width="90%">Assessment</th>
		<th scope="col" class="text-right">Status</th>
	  </tr>
	  </thead>
	  <tbody>
	  <tr>
		<td>
		  <h5>Math Test</h5>
		  <p>This multiple choice test measures your background competence in fundamental mathematics subject areas.</p>
		</td>
		<td>
		  <div class="d-flex align-items-center justify-content-end">
			<!--<p class="small padding&#45;&#45;right&#45;&#45;5">Started</p>-->
			<!--<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">-->
			  <!--<path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>-->
			  <!--<path d="M0 0h24v24H0z" fill="none"/>-->
			  <!--<path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>-->
			<!--</svg>-->
			<button class="button padding--5 shadow">Started</button>
		  </div>
		</td>
	  </tr>
	  <tr>
		<td>
		  <h5>Language Test</h5>
		  <p>This multiple-choice test measures your competency in the basic academic skills of writing, critical reading, and reading comprehension.</p>
		</td>
		<td>
		  <div class="d-flex align-items-center justify-content-end">
			<!--<p class="small padding&#45;&#45;right&#45;&#45;5">Begin</p>-->
			<!--<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">-->
			  <!--<path d="M0 0h24v24H0z" fill="none"/>-->
			  <!--<path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#558d44" />-->
			<!--</svg>-->
			<button class="button padding--5 shadow">Begin</button>
		  </div>
		</td>
	  </tr>
	  <tr>
		<td>
		  <h5>Essay</h5>
		  <p>Since writing is critical to success in every program at WGU, you will be asked to write a short essay addressing a specific topic. You will write the essay online and have the opportunity to revise and edit before submitting.</p>
		</td>
		<td>
		  <div class="d-flex align-items-center justify-content-end">
			<!--<p class="small padding&#45;&#45;right&#45;&#45;5">Begin</p>-->
			<!--<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">-->
			  <!--<path d="M0 0h24v24H0z" fill="none"/>-->
			  <!--<path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#558d44" />-->
			<!--</svg>-->
			<button class="button padding--5 shadow">Begin</button>
		  </div>
		</td>
	  </tr>
	  <tr>
		<td>
		  <h5>Admissions Inventory</h5>
		  <p>This section is designed to help you determine if WGU is a good fit for you. It’s comprised of questions that address your readiness to handle online study at WGU.</p>
		</td>
		<td>
		  <div class="d-flex align-items-center justify-content-end">
			<!--<p class="small padding&#45;&#45;right&#45;&#45;5">Begin</p>-->
			<!--<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24">-->
			  <!--<path d="M0 0h24v24H0z" fill="none"/>-->
			  <!--<path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#558d44" />-->
			<!--</svg>-->

			<button class="button padding--5 shadow">Begin</button>
		  </div>
		</td>
	  </tr>
	  </tbody>
	</table>
  </div>
  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('overview')">Back</a>
	</div>
	<div class="ml-sm-auto">
	  <button class="button padding--10 padding--left--25 padding--right--25 shadow" onclick="nextSlide('readiness-assessment-end');">Continue</button>
	</div>
  </div>
</div>