<div class="slide" id="component-intake-interview-overview">
  <div class="slide__inner shadow padding--25 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<div class="d-flex flex-column flex-md-row justify-content-center align-items-center overview__header">
	  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
		<path fill="none" d="M0 0h24v24H0V0z"/>
		<path fill="#6eaac2" d="M19 3H5c-1.1 0-2 .9-2 2v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 6h-4c0 1.62-1.38 3-3 3s-3-1.38-3-3H5V5h14v4zm-4 7h6v3c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2v-3h6c0 1.66 1.34 3 3 3s3-1.34 3-3z"/>
	  </svg>
	  <h2 class="text-center margin--bottom--25 margin--top--10 margin--top--25--sm--up margin--left--15--sm--up">Complete Your Intake Interview</h2>
	</div>
	<p class="text-center margin--bottom--15">WGU places a lot of importance on giving each incoming student, like you, the personal attention that helps you get off to a great start. The Intake Interview is a critical part of our student-focused effort.
	</p>
	<p class="text-center margin--bottom--15">The purpose of the Intake Interview is to ensure that we have your most updated contact information, that you have a full understanding of the expectations once you become a student, and most importantly, put you on the roll to start!</p>
	<p class="text-center margin--bottom--15">Timing: The Intake Interview typically needs to occur by the 15th of the month prior to your intended start date.</p>
  </div>
  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('overview')">Back</a>
	</div>
	<div class="ml-sm-auto">
	  <button class="button padding--10 padding--left--25 padding--right--25 shadow"
			  onclick="nextSlide('intake-interview-end');">Continue
	  </button>
	</div>
  </div>
</div>