<div class="slide fadeInRight" id="component-welcome">
  <div class="slide__inner shadow padding--15 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<h2 class="text-center margin--top--15 margin--bottom--15">How are you feeling about enrolling at WGU?</h2>
	<div class="d-md-flex flex-row justify-content-center margin--bottom--30">
	  <div class="card cursor shadow margin--10 padding--15 padding-bottom-0" onclick="howDoYouFeel(1, this)">
		<div class="d-flex justify-content-center">
		  <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 24 24">
			<path fill="none" d="M0 0h24v24H0V0z"/>
			<circle fill="#558d44" cx="15.5" cy="9.5" r="1.5"/>
			<circle fill="#558d44" cx="8.5" cy="9.5" r="1.5"/>
			<path fill="#558d44" d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"/>
		  </svg>
		</div>
		<p class="margin--top--0 margin--bottom--0 text-center">Good</p>
	  </div>
	  <div class="card cursor shadow margin--10 padding--15 padding-bottom-0" onclick="howDoYouFeel(2, this)">
		<div class="d-flex justify-content-center">
		  <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 24 24">
			<path fill="none" d="M0 0h24v24H0V0z"/>
			<circle fill="#4486a1" cx="15.5" cy="9.5" r="1.5"/>
			<circle fill="#4486a1" cx="8.5" cy="9.5" r="1.5"/>
			<path fill="#4486a1" d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm0-4c-.73 0-1.38-.18-1.96-.52-.12.14-.86.98-1.01 1.15.86.55 1.87.87 2.97.87 1.11 0 2.12-.33 2.98-.88-.97-1.09-.01-.02-1.01-1.15-.59.35-1.24.53-1.97.53z"/>
		  </svg>
		</div>
		<p class="margin--top--0 margin--bottom--0 text-center">Meh</p>
	  </div>
	  <div class="card cursor shadow margin--10 padding--15 padding-bottom-0" onclick="howDoYouFeel(3, this)">
		<div class="d-flex justify-content-center">
		  <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 24 24">
			<path fill="none" d="M0 0h24v24H0V0z"/>
			<circle fill="#be1e2d" cx="15.5" cy="9.5" r="1.5"/>
			<circle fill="#be1e2d" cx="8.5" cy="9.5" r="1.5"/>
			<path fill="#be1e2d" d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm0-6c-2.33 0-4.32 1.45-5.12 3.5h1.67c.69-1.19 1.97-2 3.45-2s2.75.81 3.45 2h1.67c-.8-2.05-2.79-3.5-5.12-3.5z"/>
		  </svg>
		</div>
		<p class="margin--top--0 margin--bottom--0 text-center">Don't Ask</p>
	  </div>
	</div>
	<div class="text-center">
	  <h5 class="d-none zoomIn" id="slide-1-answer">
		<!-- answer will go here -->
	  </h5>
	</div>
  </div>
  <div class="d-sm-flex">
	<div class="ml-auto">
	  <button class="button padding--10 padding--left--25 padding--right--25 shadow" onclick="nextSlide('overview');" id="slide-1-continue-btn" disabled>Continue</button>
	</div>
  </div>
</div> <!-- end slide 1 -->