@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss";
@import "../node_modules/bootstrap/scss/_utilities.scss";
@import "../node_modules/bootstrap/scss/_type.scss";
@import "../node_modules/bootstrap/scss/_list-group.scss";
@import "../node_modules/bootstrap/scss/_forms.scss";
@import "../node_modules/bootstrap/scss/_custom-forms.scss";
@import "../node_modules/bootstrap/scss/_tables.scss";

@import "./styles/mixins/spacing";
@import "../node_modules/animate-scss/properties";
@import "../node_modules/animate-scss/_fading-entrances/fading-entrances";
@import "../node_modules/animate-scss/_attention-seekers/_tada.scss";
@import "../node_modules/animate-scss/_zooming-entrances/zoomIn";
@import "../node_modules/animate-scss/_sliding-entrances/slideInRight";
@import "../node_modules/animate-scss/_sliding-exits/slideOutRight";


$color1: #fff;
$color2: #558d44;

* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: var(--body-bg-color, #F3F3F3);
	//background-image: var(--body-bg-image, none);
	background-position: right bottom; /*Positioning*/
	background-repeat: repeat-x;
	font-family: Lato, arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	//padding-bottom: 60px;  /* Height of the footer */

	@include media-breakpoint-up(md) {

	}
}

.container {
	min-height: 100%; /* will cover the 100% of viewport */
	overflow: hidden;
	display: block;
	position: relative;
}

.side-nav {
	background-color: var(--body-bg-color, #003058);
	color: #fff;
	width: 280px;
	height: 100vh;
	position: fixed;
	top: 0;
	right: -280px;
	overflow-y: auto;
	z-index: 1000;

	&.shadow {
		box-shadow: #000 5px 0px 15px !important;
	}
}

.footer {
	color: $white;
	width: 100%;
	height: 50px;
	margin-top: -50px;
	background: var(--header-bg-color, #003058);
	position: absolute;

	@include media-breakpoint-up(md) {
		position: relative;
	}
}

.wrapper {

}

table {
	border-collapse: collapse;
}

.margin--sm--bottom--15 {
	@include media-breakpoint-down(sm) {
		margin-bottom: 15px !important;
	}
}

.radio {

	input[type="radio"] {
		position: absolute;
		opacity: 0;
		+ .radio-label {
			&:before {
				content: '';
				background: $color1;
				border-radius: 100%;
				border: 3px solid $color2;
				display: inline-block;
				width: 30px;
				height: 30px;
				position: relative;
				top: 0px;
				margin-right: 10px;
				vertical-align: top;
				cursor: pointer;
				text-align: center;
				transition: all 250ms ease;
			}
		}
		&:checked {
			+ .radio-label {
				&:before {
					background-color: $color2;
					box-shadow: inset 0 0 0 4px $color1;
				}
			}
		}
		&:focus {
			+ .radio-label {
				&:before {
					outline: none;
					border-color: $color2;
				}
			}
		}
		&:disabled {
			+ .radio-label {
				&:before {
					box-shadow: inset 0 0 0 4px $color1;
				}
			}
		}
		+ .radio-label {
			&:empty {
				&:before {
					margin-right: 0;
				}
			}
		}
	}
}

@for $i from 0 through 200 {
  @if $i % 5 == 0 {
	  //@include media-breakpoint-up(sm) {
		  @include spacing-utility($i);
	  //}
  }
}

.fadeInRight {
	@include fadeInRight($duration: 0.6s);
	display: block !important;
}

.fadeInLeft {
	@include fadeInLeft($duration: 0.6s);
	display: block !important;
}

.tada {
	@include tada($duration: 1s, $delay: 0.5s);
}

.slideInRight {
	@include slideInRight($duration: 0.3s);
}
.slideOutRight {
	@include slideOutRight($duration: 1.3s);
}

.zoomIn {
	@include zoomIn($duration: 0.5s);
}

a {
	cursor: pointer;
}

.link {
	color: var(--button-text-color, #002f51);
	cursor: pointer;

	&:before {
		content: " « ";
	}
}

.halloween-theme {
	--body-bg-color: #101010;
	--body-bg-image: url('http://hanatemplate.com/images/halloween-background-images.png');
	--header-bg-color: #F97501;
	--button-bg-color: #00cc00;
	--button-text-color: #ffffff;

  .flashit{
    background: #c3c3c3;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: flash linear 7s infinite;
    -moz-animation: flash linear 7s infinite;
    animation: flash linear 7s infinite;
    animation-delay: 0s;
    //opacity: 0;
  }

  .halloween-image {
    background-image: var(--body-bg-image, none);
    background-position: right bottom; /*Positioning*/
    background-repeat: repeat-x;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.valentines-theme {
	--body-bg-color: #FF8597;
	--header-bg-color: #C7181A;
	--button-bg-color: #C7181A;
	--button-text-color: #ffffff;
}

.overview {
	&__header {
		svg {
			height: 75px;
			width: 75px;

			@include media-breakpoint-up(md) {
				height: 40px;
				width: 40px;
			}
		}
	}

	&__icon {
		height: 75px;
		width: 75px;

		@include media-breakpoint-up(sm) {
			height: 150px;
			width: 150px;
		}
	}
}

.done {
	&__icon {
		display: none;
		height: 25px;
		width: 25px;
		position: absolute;
		right: 4px;
		top: 4px;
	}
}

svg.header-logo {
	fill: var(--body-bg-color, #ffffff);
}


.slide {
	display: none;

	&__inner {
		background: $white;
		position: relative;

		&__center {
			max-width: 700px;
			margin: 0 auto;
		}
	}
}

.shadow {
	box-shadow: var(--button-bg-color, #c3c3c3) 1px 2px 2px !important;
}

.card {
	background: #ffffff;
	border: 1px solid var(--body-bg-color, #c3c3c3);
	border-radius: 5px;

	&:hover, &.locked {
		background: #F3F3F3;
	}

	&.completed {
		background: #E8FCE5;
	}

	min-width: 138px;

	@include media-breakpoint-up(lg) {
		min-width: 240px;
	}
}

.cursor {
	cursor: pointer;
}

.button {

	@include media-breakpoint-down(sm) {
		width: 100%;
	}

	background: var(--button-bg-color, #ffcc5b);
	border: none;
	border-radius: 5px;
	color: var(--button-text-color, #002f51);
	cursor: pointer;
	font-size: 18px;
	min-width: 100px;
	text-align: center;

	&:hover {
		background:  var(--button-text-color, #e7bb59);
		color:  var(--button-bg-color, #002f51);
		transition: background 0.2s linear;
	}

	&[disabled] {
		background: $gray-500;
		color: $white;
		cursor: not-allowed;
	}

	&--inverse {
		background: var(--button-text-color, #ffcc5b);
		color: var(--button-bg-color, #002f51);

		&:hover {
			background: var(--body-bg-color, #e7bb59);
			color: var(--button-bg-color, #002f51);
			transition: background 0.2s linear;
		}
	}
}


.form-group {
	input {
		padding: 0;
		height: initial;
		width: initial;
		margin-bottom: 0;
		display: none;
		cursor: pointer;

		&:checked + label:after {
			content: '';
			display: block;
			position: absolute;
			top: 0px;
			left: 12px;
			width: 11px;
			height: 20px;
			border: solid #558d44;
			border-width: 0 4px 4px 0;
			transform: rotate(45deg);
		}
	}

	label {
		position: relative;
		cursor: pointer;

		&:before {
			content:'';
			-webkit-appearance: none;
			background-color: transparent;
			border: 3px solid #558d44;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
			padding: 15px;
			display: inline-block;
			position: relative;
			vertical-align: middle;
			cursor: pointer;
			margin-right: 10px;
		}
	}
}

.progress-bar {
	width: 0%;
	height: 3px;
	background: #6eaac2;
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
	transition: width 2s;
}

.table-bordered {
	& > tbody, & > tfoot, & > thead {
		tr {
			& > td, & > th {
				vertical-align: middle;
			}
		}
	}
}

.table-borderless {
	& > tbody, & > tfoot, & > thead {
		tr {
			& > td, & > th {
				border: none;
				vertical-align: middle;
			}
		}
	}
}



//.lightning{
//	position: fixed;
//	top: 0;
//	left: 0;
//	width: 100%;
//	height: 100%;
//
//	background-position: center center;
//	background-origin: content-box;
//	background-size: cover;
//	background-attachment: fixed;
//	-webkit-filter: brightness(3);
//	filter: brightness(3);
//	-o-filter: brightness(3);
//	-moz-filter: brightness(3);
//	z-index: -1;
//}


@-webkit-keyframes flash {
	from { opacity: 0; }
	92% { opacity: 0; }
	93% { opacity: 0.6; }
	94% { opacity: 0.2; }
	96% { opacity: 0.9; }
	to { opacity: 0; }
}

@keyframes flash {
	from { opacity: 0; }
	92% { opacity: 0; }
	93% { opacity: 0.6; }
	94% { opacity: 0.2; }
	96% { opacity: 1; }
	to { opacity: 0; }
}