/******************************************************************************************************************************
                       .-.
                      |_:_|
                     /(_Y_)\
                    ( \/M\/ )
 '.               _.'-/'-'\-'._
   ':           _/.--'[[[[]'--.\_
     ':        /_'  : |::"| :  '.\
       ':     //   ./ |oUU| \.'  :\
         ':  _:'..' \_|___|_/ :   :|
           ':.  .'  |_[___]_|  :.':\
            [::\ |  :  | |  :   ; : \
             '-'   \/'.| |.' \  .;.' |
             |\_    \  '-'   :       |
             |  \    \ .:    :   |   |
             |   \    | '.   :    \  |
             /       \   :. .;       |
            /     |   |  :__/     :  \\
           |  |   |    \:   | \   |   ||
          /    \  : :  |:   /  |__|   /|
      snd |     : : :_/_|  /'._\  '--|_\
          /___.-/_|-'   \  \
                         '-'
@title: SCSS Spacing Utility Mixin
@author: John Kay
@date: March 2018
@param {number} amount in pixels (required)
@param {string} direction (optional) - top, left, right or bottom ONLY, if null, it will use all directions
@usage: @include spacing-utility(10); @include spacing-utility(20, 'left');
@notes: using @include spacing-utility(10); will produce the following:

.padding--10 {
  padding: 10px !important;
}

.margin--10 {
  margin: 10px !important;
}

.padding--top--10 {
  padding-top: 10px !important;
}

.margin--top--10 {
  margin-top: 10px !important;
}

.padding--right--10 {
  padding-right: 10px !important;
}

.margin--right--10 {
  margin-right: 10px !important;
}

.padding--bottom--10 {
  padding-bottom: 10px !important;
}

.margin--bottom--10 {
  margin-bottom: 10px !important;
}

.padding--left--10 {
  padding-left: 10px !important;
}

.margin--left--10 {
  margin-left: 10px !important;
}

You could also call the mixin within a loop like this to increment by 5:

@for $i from 0 through 200 {
  @if $i % 5 == 0 {
    @include spacing-utility($i);
  }
}
*******************************************************************************************************************************/

@mixin spacing-utility($num, $direction: null) {
	// if no direction is specified, add ALL directions
	@if $direction == null {
		.padding {
			&--#{$num} {
				padding: ($num + px);

				&--sm--up {
					@include media-breakpoint-up(sm) {
						padding: ($num + px) !important;
					}
				}
			}
		}

		.margin {
			&--#{$num} {
				margin: ($num + px);

				&--sm--up {
					@include media-breakpoint-up(sm) {
						margin: ($num + px) !important;
					}
				}
			}
		}

		$direction: 'top', 'right', 'bottom', 'left';

		@each $d in $direction {
			.padding {
				&--#{$d} {
					&--#{$num} {
						padding-#{$d}: ($num + px) ;

						&--sm--up {
							@include media-breakpoint-up(sm) {
								padding-#{$d}: ($num + px) !important;
							}
						}
					}
				}
			}

			.margin {
				&--#{$d} {
					&--#{$num} {
						margin-#{$d}: ($num + px);

						&--sm--up {
							@include media-breakpoint-up(sm) {
								margin-#{$d}: ($num + px) !important;
							}
						}
					}
				}
			}
		}
	} @else if type-of($direction) == string and $direction == 'top' or $direction == 'right' or $direction == 'bottom' or $direction == 'left' {
		.padding {
			&--#{$direction} {
				&--#{$num} {
					padding-#{$direction}: ($num + px);

					&--sm--up {
						@include media-breakpoint-up(sm) {
							padding-#{$direction}: ($num + px) !important;
						}
					}
				}
			}
		}

		.margin {
			&--#{$direction} {
				&--#{$num} {
					margin-#{$direction}: ($num + px);

					&--sm--up {
						@include media-breakpoint-up(sm) {
							margin-#{$direction}: ($num + px) !important;
						}
					}
				}
			}
		}
	}
}
