<div class="slide" id="component-overview">
  <div class="slide__inner shadow padding--15 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<!--<div style="width: 100%; height: 2px; background: #558d44; position: absolute; top: 0; left: 0;">-->
	  <!--<p>Enrollment Progress: <span>100%</span></p>-->
	<!--</div>-->
	<!--<div class="d-flex align-items-center justify-content-center" style="width: 100px; height: 100px; border: 3px solid black; border-radius: 100%;">-->
		<!--45%-->
	<!--</div>-->
	<h2 class="text-center margin--top--15 margin--bottom--15">Here is what we will go over:</h2>
	<p class="text-center margin--bottom--15">You’re only a few steps away from starting your program. <br />Contact your Enrollment Counselor Specialist for help completing the next steps in the enrollment process. <br />Click on a section to work through the details. </p>
	<div class="d-flex flex-wrap justify-content-center">
	  <!--<div class="card cursor shadow margin&#45;&#45;15 padding&#45;&#45;15 padding-bottom-0 locked" style="position: relative;">-->
		<!--<div class="" style="position: absolute; top: 5px; right: 5px;">-->
		  <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
			<!--<path d="M0 0h24v24H0z" fill="none"/>-->
			<!--<path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"/>-->
		  <!--</svg>-->
		<!--</div>-->
		<!--<div class="d-flex justify-content-center">-->
		  <!--<svg xmlns="http://www.w3.org/2000/svg" class="overview__icon" viewBox="0 0 24 24">-->
			<!--<path fill="#923799" d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z"/>-->
			<!--<path d="M0 0h24v24H0z" fill="none"/>-->
		  <!--</svg>-->
		<!--</div>-->
		<!--<p class="margin&#45;&#45;top&#45;&#45;0 margin&#45;&#45;bottom&#45;&#45;0 text-center">Requirements to Enroll</p>-->
	  <!--</div>-->
	  <div class="card cursor shadow margin--5 margin--10--sm--up padding--25 padding--15--sm--up padding-bottom-0" style="position: relative;" onclick="nextSlide('transcript-overview');" id="card-transcript">
		<svg xmlns="http://www.w3.org/2000/svg" class="done__icon" viewBox="0 0 24 24">
		  <path d="M0 0h24v24H0z" fill="none"/>
		  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#558d44" />
		</svg>
		<div class="d-flex justify-content-center">
		  <svg xmlns="http://www.w3.org/2000/svg" class="overview__icon" viewBox="0 0 24 24">
			<path fill="#4486a1" d="M2 12.5C2 9.46 4.46 7 7.5 7H18c2.21 0 4 1.79 4 4s-1.79 4-4 4H9.5C8.12 15 7 13.88 7 12.5S8.12 10 9.5 10H17v2H9.41c-.55 0-.55 1 0 1H18c1.1 0 2-.9 2-2s-.9-2-2-2H7.5C5.57 9 4 10.57 4 12.5S5.57 16 7.5 16H17v2H7.5C4.46 18 2 15.54 2 12.5z"/>
			<path fill="none" d="M0 0h24v24H0V0z"/>
		  </svg>
		</div>
		<p class="margin--top--0 margin--bottom--0 text-center">Transcripts</p>
	  </div>
	  <div class="card cursor shadow margin--5 margin--10--sm--up padding--25 padding--15--sm--up padding-bottom-0" style="position: relative;" onclick="nextSlide('financial-aid-overview');" id="card-financial-aid">
		<svg xmlns="http://www.w3.org/2000/svg" class="done__icon" viewBox="0 0 24 24">
		  <path d="M0 0h24v24H0z" fill="none"/>
		  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#558d44" />
		</svg>
		<div class="d-flex justify-content-center">
		  <svg xmlns="http://www.w3.org/2000/svg" class="overview__icon" viewBox="0 0 24 24">
			<path fill="#558d44" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1.41 16.09V20h-2.67v-1.93c-1.71-.36-3.16-1.46-3.27-3.4h1.96c.1 1.05.82 1.87 2.65 1.87 1.96 0 2.4-.98 2.4-1.59 0-.83-.44-1.61-2.67-2.14-2.48-.6-4.18-1.62-4.18-3.67 0-1.72 1.39-2.84 3.11-3.21V4h2.67v1.95c1.86.45 2.79 1.86 2.85 3.39H14.3c-.05-1.11-.64-1.87-2.22-1.87-1.5 0-2.4.68-2.4 1.64 0 .84.65 1.39 2.67 1.91s4.18 1.39 4.18 3.91c-.01 1.83-1.38 2.83-3.12 3.16z"/>
			<path fill="none" d="M0 0h24v24H0z"/>
		  </svg>
		</div>
		<p class="margin--top--0 margin--bottom--0 text-center">Financial Aid</p>
	  </div>

	  <div class="card cursor shadow margin--5 margin--10--sm--up padding--25 padding--15--sm--up padding-bottom-0" style="position: relative;" onclick="nextSlide('start-date-overview')" id="card-start-date">
		<svg xmlns="http://www.w3.org/2000/svg" class="done__icon" viewBox="0 0 24 24">
		  <path d="M0 0h24v24H0z" fill="none"/>
		  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#558d44" />
		</svg>
		<div class="d-flex justify-content-center">
		  <svg xmlns="http://www.w3.org/2000/svg" class="overview__icon" viewBox="0 0 24 24">
			<path fill="#0066a2" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/>
			<path fill="none" d="M0 0h24v24H0z"/>
			<text text-anchor="middle" x="12" y="13.5" font-size="5" fill="#0066a2" class="d-none" id="start-date-month"></text>
			<text text-anchor="middle" x="12" y="18.5" font-size="5" fill="#0066a2" class="d-none" id="start-date-year"></text>
		  </svg>
		</div>
		<p class="margin--top--0 margin--bottom--0 text-center">Anticipated <br class="d-block d-sm-none" />Start Date</p>
	  </div>

	  <div class="card cursor shadow margin--5 margin--10--sm--up padding--25 padding--15--sm--up padding-bottom-0" style="position: relative;" onclick="nextSlide('program-overview')" id="card-program">
		<svg xmlns="http://www.w3.org/2000/svg" class="done__icon" viewBox="0 0 24 24">
		  <path d="M0 0h24v24H0z" fill="none"/>
		  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#558d44" />
		</svg>
		<div class="d-flex justify-content-center">
		  <svg xmlns="http://www.w3.org/2000/svg" class="overview__icon" viewBox="0 0 24 24">
			<path d="M0 0h24v24H0z" fill="none"/>
			<path fill="#6e2973" d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z"/>
		  </svg>
		</div>
		<p class="margin--top--0 margin--bottom--0 text-center">Program</p>
	  </div>
	<!--</div>-->
	<!--<div class="d-lg-flex flex-wrap justify-content-center">-->
	  <div class="card cursor shadow margin--5 margin--10--sm--up padding--25 padding--15--sm--up padding-bottom-0" style="position: relative;" onclick="nextSlide('readiness-assessment-overview')" id="card-readiness-assessment">
		<svg xmlns="http://www.w3.org/2000/svg" class="done__icon" viewBox="0 0 24 24">
		  <path d="M0 0h24v24H0z" fill="none"/>
		  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#558d44" />
		</svg>
		<div class="d-flex justify-content-center">
		  <svg xmlns="http://www.w3.org/2000/svg" class="overview__icon" viewBox="0 0 24 24">
			<path d="M0 0h24v24H0z" fill="none"/>
			<path fill="#ffcc5b" d="M22 5.72l-4.6-3.86-1.29 1.53 4.6 3.86L22 5.72zM7.88 3.39L6.6 1.86 2 5.71l1.29 1.53 4.59-3.85zM12.5 8H11v6l4.75 2.85.75-1.23-4-2.37V8zM12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9c4.97 0 9-4.03 9-9s-4.03-9-9-9zm0 16c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
		  </svg>
		</div>
		<p class="margin--top--0 margin--bottom--0 text-center">Readiness <br class="d-block d-sm-none" />Assessment</p>
	  </div>
	  <div class="card cursor shadow margin--5 margin--10--sm--up padding--25 padding--15--sm--up padding-bottom-0" style="position: relative;" onclick="nextSlide('intake-interview-overview')" id="card-intake-interview">
		<svg xmlns="http://www.w3.org/2000/svg" class="done__icon" viewBox="0 0 24 24">
		  <path d="M0 0h24v24H0z" fill="none"/>
		  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#558d44" />
		</svg>
		<div class="d-flex justify-content-center">
		  <svg xmlns="http://www.w3.org/2000/svg" class="overview__icon" viewBox="0 0 24 24">
			<path fill="none" d="M0 0h24v24H0V0z"/>
			<path fill="#6eaac2" d="M19 3H5c-1.1 0-2 .9-2 2v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 6h-4c0 1.62-1.38 3-3 3s-3-1.38-3-3H5V5h14v4zm-4 7h6v3c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2v-3h6c0 1.66 1.34 3 3 3s3-1.34 3-3z"/>
		  </svg>
		</div>
		<p class="margin--top--0 margin--bottom--0 text-center">Intake <br class="d-block d-sm-none" />Interviews</p>
	  </div>

	  <!--<div class="card cursor shadow margin&#45;&#45;15 padding&#45;&#45;15 padding-bottom-0 locked" style="position: relative;">-->
		<!--<div class="" style="position: absolute; top: 5px; right: 5px;">-->
		  <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">-->
			<!--<path d="M0 0h24v24H0z" fill="none"/>-->
			<!--<path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"/>-->
		  <!--</svg>-->
		<!--</div>-->
		<!--<div class="d-flex justify-content-center">-->
		  <!--<svg xmlns="http://www.w3.org/2000/svg" class="overview__icon" viewBox="0 0 24 24">-->
			<!--<path fill="#ccc" d="M14 17H4v2h10v-2zm6-8H4v2h16V9zM4 15h16v-2H4v2zM4 5v2h16V5H4z"/>-->
			<!--<path d="M0 0h24v24H0z" fill="none"/>-->
		  <!--</svg>-->
		<!--</div>-->
		<!--<p class="margin&#45;&#45;top&#45;&#45;0 margin&#45;&#45;bottom&#45;&#45;0 text-center">Financial Requirements</p>-->
	  <!--</div>-->
	  <div class="card cursor shadow margin--5 margin--10--sm--up padding--25 padding--15--sm--up padding-bottom-0 locked" style="position: relative;">
		<div class="" style="position: absolute; top: 5px; right: 5px;">
		  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			<path d="M0 0h24v24H0z" fill="none"/>
			<path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"/>
		  </svg>
		</div>
		<div class="d-flex justify-content-center">
		  <svg xmlns="http://www.w3.org/2000/svg" class="overview__icon" viewBox="0 0 24 24">
			<path fill="#be1e2d" d="M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z"/>
			<path d="M0 0h24v24H0z" fill="none"/>
		  </svg>
		</div>
		<p class="margin--top--0 margin--bottom--0 text-center">Orientation</p>
	  </div>
	  <div class="card cursor shadow margin--5 margin--10--sm--up padding--25 padding--15--sm--up padding-bottom-0" style="position: relative;" onclick="nextSlide('file-hub')">
		<svg xmlns="http://www.w3.org/2000/svg" class="done__icon" viewBox="0 0 24 24">
		  <path d="M0 0h24v24H0z" fill="none"/>
		  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="#558d44" />
		</svg>
		<div class="d-flex justify-content-center">
		  <svg xmlns="http://www.w3.org/2000/svg" class="overview__icon" viewBox="0 0 24 24">
			<path d="M0 0h24v24H0z" fill="none"/>
			<path fill="#fb8c00" d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z"/>
		  </svg>
		</div>
		<p class="margin--top--0 margin--bottom--0 text-center">File Hub</p>
	  </div>
	</div>
  </div>

  <!--<div class="slide__inner shadow padding&#45;&#45;15 margin&#45;&#45;bottom&#45;&#45;15 align-content-stretch flex-wrap">-->
	<!--<div class="d-sm-flex align-items-center">-->
	  <!--<div class="">-->
		<!--<h5 class="">Your overall enrollment progress</h5>-->
	  <!--</div>-->
	  <!--<div class="ml-auto">-->
		<!--<h5>89%</h5>-->
	  <!--</div>-->
	<!--</div>-->
	<!--<div class="progress-bar margin&#45;&#45;top&#45;&#45;5"></div>-->
  <!--</div>-->

  <div class="d-sm-flex align-items-center">
	<div class="margin--sm--bottom--15">
	  <a class="link" onclick="previousSlide('welcome')">Back</a>
	</div>
	<div class="ml-auto">

	</div>
  </div>
</div><!-- end slide 2 -->