<div class="slide" id="component-transcript-certification-addition">
  <div class="slide__inner shadow padding--15 padding--bottom--50 margin--bottom--15 align-content-stretch flex-wrap">
	<h2 class="text-left margin--top--15 margin--bottom--25">Add Exam or Certification here</h2>
	<div class="d-flex flex-column justify-content-md-center">
	  <div class="table-responsive">
		<table class="table table-borderless margin--bottom--5">
		  <tbody>
		  <tr>
			<td width="10%">Exam or Certification:</td>
			<td>
			  <div class="d-flex flex-column flex-sm-row">
				<select class="form-control form-control-sm">
				  <option value="" class="">--</option>
				  <optgroup label="Credit by Exam and Scores">
					<option value="0">AHIMA Certification</option>
					<option value="1">AP Scores</option>
					<option value="2">CLEP Scores</option>
					<option value="3">Dantes Scores</option>
					<option value="4">Prometric Scores</option>
					<option value="5">StraighterLine</option>
					<option value="6">Western Association of Food Chains</option>
				  </optgroup>
				  <optgroup label="Certifications">
					<option value="7">CISCO</option>
					<option value="8">CIW</option>
					<option value="9">CompTIA</option>
					<option value="10">EC-Council</option>
					<option value="11">GIAC</option>
					<option value="12">HRCI</option>
					<option value="13">ISC2</option>
					<option value="14">Microsoft</option>
					<option value="15">Oracle</option>
					<option value="16">PMI</option>
					<option value="17">Red Hat</option>
				  </optgroup>
				</select>
			  </div>
			</td>
		  </tr>
		  <tr>
			<td>Date Earned:</td>
			<td>
			  <div class="d-flex flex-column flex-sm-row">
				<select name="startmonth" class="form-control form-control-sm margin--right--10">
				  <option value="" class="" selected="selected">Month</option>
				  <option value="0">January</option>
				  <option value="1">February</option>
				  <option value="2">March</option>
				  <option value="3">April</option>
				  <option value="4">May</option>
				  <option value="5">June</option>
				  <option value="6">July</option>
				  <option value="7">August</option>
				  <option value="8">September</option>
				  <option value="9">October</option>
				  <option value="10">November</option>
				  <option value="11">December</option>
				</select>
				<select name="startYear" class="form-control form-control-sm margin--right--0">
				  <option value="" class="" selected="selected">Year</option>
				  <option value="0">2019</option>
				  <option value="1">2018</option>
				  <option value="2">2017</option>
				  <option value="3">2016</option>
				  <option value="4">2015</option>
				  <option value="5">2014</option>
				  <option value="6">2013</option>
				  <option value="7">2012</option>
				  <option value="8">2011</option>
				</select>
			  </div>
			</td>
		  </tr>
		  </tbody>
		</table>
	  </div>
	  <div class="d-flex justify-content-end margin--right--15--sm--up">
		<!--<button class="button padding&#45;&#45;10 padding&#45;&#45;left&#45;&#45;25 padding&#45;&#45;right&#45;&#45;25 shadow save" id="btn-save-transcript-question-transcripts" name="btn-continue-transcript-certification-addition">Save</button>-->

	  </div>
	</div>
  </div>
  <div class="d-flex flex-column-reverse flex-sm-row align-items-sm-center">
	<div class="margin--top--15 margin--top--0--sm--up">
	  <a class="link" onclick="previousSlide('transcript-question-certifications')">Back</a>
	</div>
	<div class="ml-sm-auto">
	  <button class="button padding--10 padding--left--25 padding--right--25 shadow continue-addition" onclick="nextSlide('transcript-end');" id="btn-continue-transcript-certification-addition" >Save &amp; Continue</button>
	</div>
  </div>
</div>